@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    font-family: "Roboto";
    max-width: auto;
}

header {
    background-color: black;
    display: flex;
    grid-template-columns: 100%;
    align-items: center;
}

header a {
    color: white;
}

.nav-links {
    margin-left: ;
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    padding: 0px 50px;
}

#logo {
    display: inline;
    padding: 0px 2em;
    list-style: none;
    text-decoration: none;
    justify-content: start;
    align-items: center;
}

.hero-image img {
    position: relative;
    text-align: center;
    width: 100%;
}

h1 {
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-size: 90px;
    left: 50%;
    right: 50%;
    bottom: 50%;
}

.hero-title, h1 {
    color: white;
    position: absolute;
    left: 50%;
    bottom: 50%;
    white-space: nowrap;
}

.date-container>p {
    margin-top: 12%;
    margin-bottom: 5%;
    display: flex;
    padding: 12px 5px;
    box-sizing: border-box;
    border: 2px solid black;
    width: 85%;
}

.date-container {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-right: 20px;
}

.event-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 40px 0px;
    padding: 20px 0px;

}

.event-content-container {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.event-image {
    width: 200px;
    display: flex;
    justify-self: start;


}

.event-info>div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 80px;
    white-space: nowrap;
    background-color: rgb(252, 182, 50);
    color: whitesmoke;
    padding: 15px;

}

.info-button-container {
    display: flex;
    justify-content: center;
}

footer {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(4, 100%);
    background-color: black;
    height: 250px;
    align-items: center;
    justify-content: center;
}

.menu-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

#map img {
    height: 200px;
    display: flex;
    align-content: center;
}

.menu-grid-items {
    color: white;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    width: max-width(100%, 80rem);
}

.menu-items {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: start;
}

.menu-items li {
    padding: 12px 0px;
}

.grid-item-title {
    font-size: 45px;
}

.menu-grid-items a {
    color: aliceblue;
    text-decoration: none;
}